PORT = 5002

MONGO_URI=paste MONGO_URI

JWT_PUBLIC_KEY=<paste RSA public key from User service>

USER_SERVICE = http://user-service:5000

Cloud_Name = your_cloud_naeme

Api_Key = your_api_key

Api_Secret = your_secret_api_key